html {
    color: #a28089;
}

body {
    background-color: #51e2f5;
}

h1 {
    color: #a28089;
    text-align: center;
}

ul, li, a {
    color: #a28089;
    text-align: center;
    font-size: large;
    list-style-position: inside;
    padding-left: 0;
}